export BANK_CLOJURE_VERSION=1.10.3.1029
export BANK_NODE_VERSION=17.1.0

export BANK_DB_NAME=bank
export BANK_DB_USER=bank
export BANK_DB_PASSWORD=dev
export BANK_DB_PORT=5433

export BANK_HOST_UPLOADS_PATH=./uploads/
export BANK_UPLOADS_PATH=/app/resources/public/assets/attachments/

export BANK_HTTP_PORT=3000
