{:duct.profile/base
 {:duct.core/project-ns bank-service

  :duct.migrator/ragtime
  {:migrations  [#ig/ref :bank-service.migration/create-users
                 #ig/ref :bank-service.migration/create-accounts
                 #ig/ref :bank-service.migration/withdrawals
                 #ig/ref  :bank-service.migration/sessions]}


  [:duct.migrator.ragtime/sql :bank-service.migration/create-users]
  {:up    [#duct/resource "migrations/init.up.sql"]
   :down  [#duct/resource "migrations/init.down.sql"]}

  [:duct.migrator.ragtime/sql :bank-service.migration/create-accounts]
  {:up    [#duct/resource "migrations/20220322.up.sql"]
   :down  [#duct/resource "migrations/20220322.down.sql"]}

  [:duct.migrator.ragtime/sql :bank-service.migration/withdrawals]
  {:up    [#duct/resource "migrations/20220426.up.sql"]
   :down  [#duct/resource "migrations/20220426.down.sql"]}

  [:duct.migrator.ragtime/sql :bank-service.migration/sessions]
  {:up    [#duct/resource "migrations/20220503.up.sql"]
   :down  [#duct/resource "migrations/20220503.down.sql"]}

  :duct.router/ataraxy
  {:routes
   {"/api"
    {"/login"
     {[:post {login-info :body-params}]
      [:bank-service.handler.auth/login login-info]}

     "/signup"
     {[:post {signup-info :body-params}]
      [:bank-service.handler.auth/signup signup-info]}

     [:get "/example"]
     ^:api-middleware
     [:example]

     "/users"
     {[:get]                      [:bank-service.handler.users/list]
      [:get "/" id]               [:bank-service.handler.users/find ^uuid id]
      [:post   {user :body-params}] [:bank-service.handler.users/create user]}

     "/accounts"
     {[:get]        [:bank-service.handler.accounts/list]
      [:get "/" id] [:bank-service.handler.accounts/find ^uuid id]
   ;;   [:post   {account :body-params}] [:bank-service.handler.accounts/create account]
      }

     "/currencies"
     {[:get]        [:bank-service.handler.currencies/list]
      [:get "/" id] [:bank-service.handler.currencies/find id]}

     "/transfer"
     {[:post {info :body-params}]
      [:bank-service.handler.transactions/transfer info]}

     "/deposit"
     {[:post {info :body-params}]
      [:bank-service.handler.transactions/deposit info]}

     "/withdraw"
     {[:post {info :body-params}]
      [:bank-service.handler.transactions/withdraw info]}}}
   
   :handlers   {:example #ig/ref :bank-service.handler/example}
   :middleware {;; :bank-service/authenticate #ig/ref :duct.middleware.buddy/authentication
                ;; :bank-service/authorize    #ig/ref :duct.middleware.buddy/authorization
                ;; :wrap-site                 #ig/ref :bank-service.middleware.core/wrap-site
                :api-middleware #ig/ref :bank-service.middleware.core/api-middleware}}


;;   :example.auth/basic-auth {}
  [:duct.handler.sql/query :bank-service.handler.users/list]
  {:sql   ["select id, name, email from users"]
   :hrefs {:href "/users/{id}"}}

  [:duct.handler.sql/insert :bank-service.handler.users/create]
  {:request  {[_ {:keys [name email password]}] :ataraxy/result}
   :sql
   ["insert into users (name, email, password) 
     values (?, ? , crypt(?, gen_salt('md5')))"
    name email password]
   :location "/users/{last_insert_id}"}


  [:duct.handler.sql/query-one :bank-service.handler.users/find]
  {:request {[_ id] :ataraxy/result}
   :sql ["select id, name, email from users where id = ?" id]}

  :bank-service.handler/example
  {:db #ig/ref :duct.database/sql}


  :bank-service.handler.auth/auth-fn
  {:db     #ig/ref :duct.database/sql
   :logger #ig/ref :duct/logger}

  :bank-service.handler.auth/login
  {:db     #ig/ref :duct.database/sql
   :logger #ig/ref :duct/logger}

  :bank-service.handler.auth/signup
  {:db     #ig/ref :duct.database/sql
   :logger #ig/ref :duct/logger}

  :duct.middleware.buddy/authentication
  {:backend :token
   :authfn  #ig/ref :bank-service.handler.auth/auth-fn}


  :duct.middleware.buddy/authorization
  {:backend :token
   :authfn  #ig/ref :bank-service.handler.auth/auth-fn}

  :bank-service.middleware.core/wrap-site {}

  :bank-service.middleware.core/wrap-api {}

  :bank-service.middleware.core/api-middleware
  {:logger             #ig/ref :duct/logger
   :wrap-api           #ig/ref :bank-service.middleware.core/wrap-api
   :buddy-authenticate #ig/ref :duct.middleware.buddy/authentication}

  :bank-service.handler.transactions/transfer
  {:db #ig/ref :duct.database/sql
   :logger #ig/ref :duct/logger}

  :bank-service.handler.transactions/deposit
  {:db #ig/ref :duct.database/sql
   :logger #ig/ref :duct/logger}

  :bank-service.handler.transactions/withdraw
  {:db #ig/ref :duct.database/sql
   :logger #ig/ref :duct/logger}

  [:duct.handler.honeysql-postgres/query :bank-service.handler.accounts/list]
  {:sql {:select [:a.* [:u.email :user-email] [:u.name :user-name]]
         :from  [[:accounts :a]
                 [:users :u]]
         :where [:= :a.user_id :u.id]}
   :hrefs {:href "/accounts/{id}"}}

  [:duct.handler.honeysql-postgres/query-one :bank-service.handler.accounts/find]
  {:request {[_ id] :ataraxy/result}
   :sql     {:select [:*]
             :from   [:accounts]
             :where  [:= id :id]}}

  [:duct.handler.sql/query :bank-service.handler.currencies/list]
  {:sql ["select * from currencies"]
   :hrefs {:href "/currencies/{id}"}}

  [:duct.handler.honeysql-postgres/query-one :bank-service.handler.currencies/find]
  {:request {{:keys [id]} :route-params}
   :sql     {:select [:*]
             :from   [:currencies]
             :where  [:= :id id]}}}

 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/prod  {}

 :duct.module/logging {}
;;  :duct.module.web/site {}
 :duct.module.web/api {}
 :duct.module/sql {}}
